{% extends "layout.html" %}
  {% block body %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 950px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 200px;
}

td, th {
  border: 3px solid #dddddd;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>
</head>
<body>

<h2 style="text-align: center; margin-top: 20px">Hospitals Projects</h2>

<table>
  <tr>
    <th>Company</th>
    <th>City</th>
  </tr>
  <tr>
    <td>Hedgewar Hospital</td>
    <td>Aurangabad</td>
   
  </tr>
  <tr>
    <td>Kamalnayan Bajaj Hospital</td>
    <td>Aurangabad</td>
  
  </tr>
  <tr>
    <td>Life Care Multi Speciality Hospital</td>
    <td>Udgir</td>
   
  </tr>
  <tr>
    <td>ESIC Hospital</td>
    <td>Aurangabad</td>
    
  </tr>
  <tr>
    <td>Hayaat Multi Speciality Hospital</td>
    <td>Aurangabad</td>
    
  </tr>
  <tr>
    <td>Governament Medical College & Hospital</td>
    <td>Aurangabad</td>
    
  </tr>
  <tr>
    <td>Dhanwantari General Hospital</td>
    <td>Latur</td>
    
  </tr>
</table>

</body>
</html>


  {% endblock %}