{% extends "layout.html" %}
  {% block body %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 950px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 200px;
}

td, th {
  border: 3px solid #dddddd;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>
</head>
<body>

<h2 style="text-align: center; margin-top: 20px">Hotels Projects</h2>

<table>
  <tr>
    <th>Company</th>
    <th>City</th>
  </tr>
  <tr>
    <td>Hotel Hyatt- Vimannagar</td>
    <td>Pune</td>
   
  </tr>
  <tr>
    <td>Hotel Sun N Sand (Five Start)</td>
    <td>Shirdi</td>
  
  </tr>
  <tr>
    <td>Indraprastha Resort</td>
    <td>Ahemednagar</td>
   
  </tr>
  <tr>
    <td>United Brewries Ltd. </td>
    <td>Aurangabad</td>
    
  </tr>
</table>

</body>
</html>


  {% endblock %}