{% extends "layout.html" %}
  {% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Welcome to AP Turnkey</h1>
      <h2>90% OF OUR CLIENTS COME BACK TO US</h2>
      <div class="d-flex align-items-center">
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>Why Choose AP Turnkey Projects..</h3>
              <p>
                 We are at AP Projects,Believes in the only things i.e.costumer satisfaction.AP Projects working in Design,Supply and Installation,Testing,Commissioning and Maintenance of Fire Fighting Systems and Safety Systems.. 
              </p>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <a href="ourclients.html"><h4>Our Valued Clients</h4></a>
                    <p>When it comes to provide exceptional fire-fighting and plumbing services, Om Fire Safety is leading the way.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <a href="projects.html"><h4>Valuable Projects</h4></a>
                    <p> we offer our services to many developers and promoters,IT giants,hospitality veterans along with many more and empowered them to create housing societies,business centres,IT parks,hospitals,etc.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <a href="gallery.html"><h4>Gallery</h4></a>
                    <p>Included all sectors that we serve our maintances and services..</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3 data-aos="fade-up">About us</h3>
            <p data-aos="fade-up">AP Projects is one of the fast developing Fire Fighting Systems and Equipment provider in India.As a company principally providing Fire Prevention and Protective Equipments.</p>

            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Our Clients</a></h4>
              <p class="description">Our most prestigious and regular clients in the housing segment, with whom we share a great working relationship and receive 90% repeat work, are M/s Max Estate Ltd., M/s JAYPEE Group, M/s Paras Group, M/s Assotech Ltd., M/s Supertech Ltd., M/s Bestech Group, M/s Shipra Group, M/s Ashiana Homes Pvt. Ltd., M/s Emaar Group and M/s Indiabulls Ltd.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Different Domains</a></h4>
              <p class="description">We work with EPC contractors such as Shapoorji Pallonji and L&T and also have a very long and strong association with big brands in IT, Hospitality, Public Service, etc. such as Taj Vivanta, Radisson Hotels, IBM India, IHG, Isolex, Nokia, Siemens and MetLife among many others.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Technologies</a></h4>
              <p class="description">We work on a PAN India basis and come fully equipped with the latest tools and technologies that empower us to make the most of every project, under any circumstance and anywhere in the country. In the year 2006, our company became Pvt. Ltd. with an ISO 9001:2000 certification.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>We regular servicing to run at optimum performance and effectively combat fire. Our service teams will regularly test and audit your system to ensure it meets all required standards. We are on call day and night throughout the year to assist with servicing, maintenance and troubleshooting our technicians can deal with most problems on the spot.</p>
          </div>
          <!-- Service Start -->
          <section id="blog" class="blog">
          <div class="container">
             <div class="row">
              <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/fireman2.jpg')}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="firefight.html">Fire Fighting</a>
              </h2>
              <div class="entry-content">
                <p>Safety from fire is one of the biggest concerns for any developer or promoter. Not only it poses a direct threat on hundreds of lives but can also damage the property beyond repairs.</p>
                <div class="read-more">
                  <a href="firefight.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>
          <!-- 1 service end -->

          <!-- 2 service blog -->
                    <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/fire3.jpg')}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="firedetection.html">Fire Detection System</a>
              </h2>
              <div class="entry-content">
                <p>We are provided number of devices working together to detect and warn people through visual and audio appliances when smoke, fire, carbon monoxide or other emergencies are present.</p>
                <div class="read-more">
                  <a href="firedetection.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>
          <!-- 2 service end -->

          <!-- 3 service -->
                    <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/san.jpg')}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="sanitary.html">Sanitary & Plumbing Works</a>
              </h2>
              <div class="entry-content">
                <p>Every housing or business project comes with its own water treatment requirements. Water is an essential and valuable commodity and must be handled properly.
                </p>
                <div class="read-more">
                  <a href="sanitary.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>
          <!-- 3 service end-->

          <!-- 4 service -->
                    <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/maint.jpg')}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="maintance.html">Annual Maintenance Contract For Fire System</a>
              </h2>
              <div class="entry-content">
                <p>With the help of our experienced professionals, we also undertake Annual Maintenance Contracts. The AMC ensures longevity of Components, trouble-free operations and lower downtime.
                </p>
                <div class="read-more">
                  <a href="maintance.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>
          <!-- 4 service end-->

          <!-- 5 service -->
                    <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/design.jpg')}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="design.html">Design & Engineering</a>
              </h2>
              <div class="entry-content">
                <p>We are focused on up to date design and engineering in order to provide the most competitive and best performing systems in the market. Our target is to be the best alternative for the customer’s bottom line in the long perspective.
                </p>
                <div class="read-more">
                  <a href="design.html">Read More</a>
                </div>
              </div>
            </article><!-- End blog entry -->
          </div>
          <!-- 5 service end-->

            <!-- 6 service -->
                    <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/varroc.jpg')}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="sites.html">Some Sites Where at We Worked</a>
              </h2>
              <div class="entry-content">
                <p> The firm was established by one individual who have been in this field with more than 12 years of experience and a vision to become pioneers for innovative safety and security techniques.</p>
                <div class="read-more">
                  <a href="sites.html">Read More</a>
                </div>
              </div>
            </article><!-- End blog entry -->
          </div>
          <!-- 6 service end-->
          </div>
          </div>
          </section>
          <!-- Service End -->         
        </div>
    </section><!-- End Normal Section -->
  </main><!-- End #main -->
{% endblock %}