{% extends "layout.html" %}
  {% block body %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 950px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 200px;
}

td, th {
  border: 3px solid #dddddd;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>
</head>
<body>

<h2 style="text-align: center; margin-top: 20px">Industrial Projects</h2>

<table>
  <tr>
    <th>Company</th>
    <th>City</th>
  </tr>
  <tr>
    <td>Lombardini India Pvt.Ltd.( Kolhar India ) </td>
    <td>Aurangabad</td>
   
  </tr>
  <tr>
    <td>Bharat Forge Ltd.</td>
    <td>Baramati</td>
  
  </tr>
  <tr>
    <td>United Sprit Ltd. </td>
    <td>Aurangabad</td>
   
  </tr>
  <tr>
    <td>United Brewries Ltd. </td>
    <td>Aurangabad</td>
    
  </tr>
  <tr>
    <td>Magana International Ltd.</td>
    <td>Pune</td>
   
  </tr>
   <tr>
    <td>Ronth Polymers Pvt.Ltd.</td>
    <td>Pune</td>
    
  </tr>
   <tr>
    <td>Cotton Greves Ltd.</td>
    <td>Aurangabad</td>
    
  </tr>
   <tr>
    <td>Krushidhan Seeds Ltd</td>
    <td>Jalna</td>
    
  </tr>
   <tr>
    <td>CEPET</td>
    <td>Aurangabad</td>
    
  </tr>
   <tr>
    <td>Ronth Polymers Pvt.Ltd.</td>
    <td>Pune</td>
    
  </tr>
  <tr>
    <td>Krushidhan Seeds Ltd.</td>
    <td>Jalna</td>
    
  </tr>
  <tr>
    <td>Life Line Medical Pvt.Ltd.</td>
    <td>Aurangabad</td>
    
  </tr>
  <tr>
    <td>Birla Accucast Ltd.</td>
    <td>Aurangabad</td>
    
  </tr>
  <tr>
    <td>Gajlaxmi Steels Pvt.Ltd.</td>
    <td>Jalna</td>
    
  </tr>
  <tr>
    <td>Dhootpolybric Pvt.Ltd</td>
    <td>Aurangabad</td>
    
  </tr>
    <tr>
    <td>Imperial Auto Industries Ltd.</td>
    <td>Pune</td>
    
  </tr>
    <tr>
    <td>Endurance Technologies Pvt.Ltd</td>
    <td>Pune</td>
    
  </tr>
    <tr>
    <td>Hindustan Composite Ltd</td>
    <td>Jalna</td>
    
  </tr>
    <tr>
    <td>Numa Cast Iron Pvt.Ltd</td>
    <td>Aurangabad</td>
    
  </tr>
    <tr>
    <td>SapanaPloywaves Pvt.Ltd</td>
    <td>Aurangabad</td>
    
  </tr>
    <tr>
    <td>VeekayDistellary Pvt.Ltd</td>
    <td>Shrirampur</td>
    
  </tr>
    <tr>
    <td>Varroc Engineering Pvt.Ltd</td>
    <td>Aurangabad</td>
    
  </tr>
    <tr>
    <td>Tulip Lab Pvt.Ltd</td>
    <td>Aurangabad</td>
    
  </tr>
</table>

</body>
</html>


  {% endblock %}