{% extends "layout.html" %}
  {% block body %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 950px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 200px;
}

td, th {
  border: 3px solid #dddddd;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>
</head>
<body>

<h2 style="text-align: center; margin-top: 20px">COMMERCIAL COMPLEX</h2>

<table>
  <tr>
    <th>Company</th>
    <th>City</th>
  </tr>
  <tr>
    <td>D-Mart( AvanueSupermarts Ltd.)</td>
    <td>Aurangabad</td>
   
  </tr>
  <tr>
    <td>ABC Mall,Chikalthana</td>
    <td>Aurangabad</td>
  
  </tr>
  <tr>
    <td>Bank of MaharastraDharur</td>
    <td>Beed</td>
   
  </tr>
  <tr>
    <td>Goldflex Complex</td>
    <td>Aurangabad</td>
    
  </tr>
  <tr>
    <td>Nano Mall & Multiplex</td>
    <td>Aurangabad</td>
    
  </tr>
  <tr>
    <td>Governament Auditorium Hall Yeola</td>
    <td>Nashik</td>
    
  </tr>
  <tr>
    <td>Dr.Babasaheb Ambedkar Marathwada University</td>
    <td>Osmanabad</td>
    
  </tr>
  <tr>
    <td>Nagar Parishad Office</td>
    <td>Tuljapur</td>
    
  </tr>
  <tr>
    <td>Santoshimata Multiplex</td>
    <td>Beed</td>
    
  </tr>
  <tr>
    <td>State Bank Of India Dharur</td>
    <td>Beed</td>
    
  </tr>
  <tr>
    <td>Abhinay Multiplex</td>
    <td>Aurangabad</td>
    
  </tr>
</table>

</body>
</html>


  {% endblock %}