 {% extends "layout.html" %}
  {% block body %}
 <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Clients</li>
        </ol>
        <h2>Clients</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <!-- 1 -->
        <div class="row">
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">
              <div class="entry-img">
                <img src="{{url_for('static',filename='img/lt.png')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
          </div>

          <!-- 2 -->
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/upin.png')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
          </div>


          <!-- 3 -->
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">
              <div class="entry-img">
                <img src="{{url_for('static',filename='img/goodyear.jpg')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
          </div>

          <!-- 4 -->
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">
              <div class="entry-img">
                <img src="{{url_for('static',filename='img/ad.jpg')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
          </div>

          <!-- 5 -->
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">
              <div class="entry-img">
                <img src="{{url_for('static',filename='img/ntpc.jpg')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
          </div>

          <!-- 6 -->
          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/dmart.jpg')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>

               <!-- 7 -->
              <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/khi.jpg')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>

              <!-- 8 -->
               <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/sbi.png')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>

               <!-- 9 -->
            <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/lifecare.jpg')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>

                <!-- 10 -->
            <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/htatt.png')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>


                <!-- 11 -->
            <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/mag.jpg')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>

                <!-- 12 -->
            <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/end.png')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>

                <!-- 13 -->
            <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/sie.jpg')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>

                <!-- 14 -->
            <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/sabb.png')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>

                <!-- 15 -->
            <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{url_for('static',filename='img/fos.jpg')}}" alt="" class="img-fluid">
              </div>
            </article><!-- End blog entry -->
              </div>

        </div>

        <div class="blog-pagination" data-aos="fade-up">
          <ul class="justify-content-center">
            <li class="disabled"><i class="icofont-rounded-left"></i></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
          </ul>
        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
            {% endblock %}